#include <windows.h>
#include "./Resource.h"

MAIN_ICON		ICON	DISCARDABLE	"./Resource/BlackEditor.ico"

MOVE_BMP		BITMAP	DISCARDABLE	"./Resource/Move.bmp"

CLOSE_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/CloseOut.bmp"
CLOSE_IN_BMP		BITMAP	DISCARDABLE	"./Resource/CloseIn.bmp"
CLOSE_DOWN_BMP		BITMAP	DISCARDABLE	"./Resource/CloseDown.bmp"
OPEN_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/OpenOut.bmp"
OPEN_IN_BMP		BITMAP	DISCARDABLE	"./Resource/OpenIn.bmp"
OPEN_DOWN_BMP		BITMAP	DISCARDABLE	"./Resource/OpenDown.bmp"
SAVE_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/SaveOut.bmp"
SAVE_IN_BMP		BITMAP	DISCARDABLE	"./Resource/SaveIn.bmp"
SAVE_DOWN_BMP		BITMAP	DISCARDABLE	"./Resource/SaveDown.bmp"
SAVE_AS_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/SaveAsOut.bmp"
SAVE_AS_IN_BMP		BITMAP	DISCARDABLE	"./Resource/SaveAsIn.bmp"
SAVE_AS_DOWN_BMP	BITMAP	DISCARDABLE	"./Resource/SaveAsDown.bmp"
ANSI_BMP		BITMAP	DISCARDABLE	"./Resource/ANSI.bmp"
UNI_BMP			BITMAP	DISCARDABLE	"./Resource/Unicode.bmp"
UNIREV_BMP		BITMAP	DISCARDABLE	"./Resource/ReverseUnicode.bmp"
NEW_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/NewOut.bmp"
NEW_IN_BMP		BITMAP	DISCARDABLE	"./Resource/NewIn.bmp"
NEW_DOWN_BMP		BITMAP	DISCARDABLE	"./Resource/NewDown.bmp"
MAX_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/MaxOut.bmp"
MAX_IN_BMP		BITMAP	DISCARDABLE	"./Resource/MaxIn.bmp"
MAX_DOWN_BMP		BITMAP	DISCARDABLE	"./Resource/MaxDown.bmp"
MIN_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/MinOut.bmp"
MIN_IN_BMP		BITMAP	DISCARDABLE	"./Resource/MinIn.bmp"
MIN_DOWN_BMP		BITMAP	DISCARDABLE	"./Resource/MinDown.bmp"
ORGSIZE_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/OrgSizeOut.bmp"
ORGSIZE_IN_BMP		BITMAP	DISCARDABLE	"./Resource/OrgSizeIn.bmp"
ORGSIZE_DOWN_BMP	BITMAP	DISCARDABLE	"./Resource/OrgSizeDown.bmp"
ABOUT_OUT_BMP		BITMAP	DISCARDABLE	"./Resource/AboutOut.bmp"
ABOUT_IN_BMP		BITMAP	DISCARDABLE	"./Resource/AboutIn.bmp"
ABOUT_DOWN_BMP		BITMAP	DISCARDABLE	"./Resource/AboutDown.bmp"
SEARCH_BMP		BITMAP	DISCARDABLE	"./Resource/Search.bmp"
SEARCH_NEXT_BMP		BITMAP	DISCARDABLE	"./Resource/SearchNext.bmp"
REPLACE_BMP		BITMAP	DISCARDABLE	"./Resource/Replace.bmp"
CRLF_BMP		BITMAP	DISCARDABLE	"./Resource/CRLF.bmp"

START_WAV		WAVE	DISCARDABLE	"./Resource/Start.wav"
BTN_IN_WAV		WAVE	DISCARDABLE	"./Resource/BtnIn.wav"
BTN_DOWN_WAV		WAVE	DISCARDABLE	"./Resource/BtnDown.wav"
BTN_PUSH_WAV		WAVE	DISCARDABLE	"./Resource/BtnPush.wav"
CLOSE_IN_WAV		WAVE	DISCARDABLE	"./Resource/CloseIn.wav"
CLOSE_DOWN_WAV		WAVE	DISCARDABLE	"./Resource/CloseDown.wav"
CLOSE_PUSH_WAV		WAVE	DISCARDABLE	"./Resource/ClosePush.wav"
TYPE_WAV		WAVE	DISCARDABLE	"./Resource/Type.wav"
TYPE_ENTER_WAV		WAVE	DISCARDABLE	"./Resource/TypeEnter.wav"
TYPE_DEL_WAV		WAVE	DISCARDABLE	"./Resource/TypeDel.wav"
MAX_IN_WAV		WAVE	DISCARDABLE	"./Resource/MaxIn.wav"
MAX_DOWN_WAV		WAVE	DISCARDABLE	"./Resource/MaxDown.wav"
MAX_PUSH_WAV		WAVE	DISCARDABLE	"./Resource/MaxPush.wav"
MIN_IN_WAV		WAVE	DISCARDABLE	"./Resource/MinIn.wav"
MIN_DOWN_WAV		WAVE	DISCARDABLE	"./Resource/MinDown.wav"
MIN_PUSH_WAV		WAVE	DISCARDABLE	"./Resource/MinPush.wav"
ORGSIZE_IN_WAV		WAVE	DISCARDABLE	"./Resource/OrgSizeIn.wav"
ORGSIZE_DOWN_WAV	WAVE	DISCARDABLE	"./Resource/OrgSizeDown.wav"
ORGSIZE_PUSH_WAV	WAVE	DISCARDABLE	"./Resource/OrgSizePush.wav"
ABOUT_IN_WAV		WAVE	DISCARDABLE	"./Resource/AboutIn.wav"
ABOUT_DOWN_WAV		WAVE	DISCARDABLE	"./Resource/AboutDown.wav"
ABOUT_PUSH_WAV		WAVE	DISCARDABLE	"./Resource/AboutPush.wav"
SEARCH_REPLACE_IN_WAV	WAVE	DISCARDABLE	"./Resource/SearchReplaceIn.wav"
SEARCH_REPLACE_DOWN_WAV	WAVE	DISCARDABLE	"./Resource/SearchReplaceDown.wav"
SEARCH_REPLACE_PUSH_WAV	WAVE	DISCARDABLE	"./Resource/SearchReplacePush.wav"
NEW_WAV			WAVE	DISCARDABLE	"./Resource/New.wav"
OPEN_WAV		WAVE	DISCARDABLE	"./Resource/Open.wav"
SAVE_WAV		WAVE	DISCARDABLE	"./Resource/Save.wav"
BTN2_IN_WAV		WAVE	DISCARDABLE	"./Resource/Btn2In.wav"
BTN2_DOWN_WAV		WAVE	DISCARDABLE	"./Resource/Btn2Down.wav"
UNICODE_PUSH_WAV	WAVE	DISCARDABLE	"./Resource/UNICODEPush.wav"
CRLF_PUSH_WAV		WAVE	DISCARDABLE	"./Resource/CRLFPush.wav"

ACCELERATOR		ACCELERATORS	DISCARDABLE
{
	"N",	IDB_NEW,		VIRTKEY, CONTROL
	"O",	IDB_OPEN,		VIRTKEY, CONTROL
	"S",	IDB_SAVE,		VIRTKEY, CONTROL

	"A",	ID_EDIT_SELECT_ALL,	VIRTKEY, CONTROL
	"C",	ID_EDIT_COPY,		VIRTKEY, CONTROL
	"V",	ID_EDIT_PASTE,		VIRTKEY, CONTROL
	"X",	ID_EDIT_CUT,		VIRTKEY, CONTROL
	"Z",	ID_EDIT_UNDO,		VIRTKEY, CONTROL

	"F",	ID_SEARCH,		VIRTKEY, CONTROL
	VK_F3,	ID_SEARCH_NEXT,		VIRTKEY
	"H",	ID_REPLACE,		VIRTKEY, CONTROL
}
